@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.content .logo{
    margin: 16px 120px;

}

.head-title a {
    text-decoration: none;
    text-align: center;
    color: #000000;
}
.head-title li a:hover{
    background-color: rgb(171, 159, 135);
}
nav .content .head-title{
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin-top: 24px;
    justify-content: center;
    margin: 0 auto;
}
.content .btm{
    border: none;
    background-color: #469165;
    padding: 13px 16px;
    color: #ffffff;
    border-radius: 5px;
    margin: 24px 120px;
    cursor: pointer;

    
    
}
.content .btm:hover{
    background-color: rgb(171, 159, 135);
    
}
#benar {
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 674px;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    

}
#benar .btm-3{
    border: none;
    background-color: #ffffff;
    color: #30B868;
    margin: top 115.5px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    


}

.benar-content{
    width: 770px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    

}
.head h1{
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;
    letter-spacing: 0%;
}
.head h1 span{
    color: #30B868;
}
 p{
    color: #ffffff;
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    height: 60px;
}
.btm{
    border: none;
    background-color: #469165;
    padding: 13px 16px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    
}
.btm-2{
    background: none;
    padding: 16px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 16px;

}
.btm .fa-arrow-right{

    margin-right: 10px;
}
.btm-2 .fa-solid fa-play{
    margin-left: 10px;
}
.btm-3 i{
    margin-right: 6px;
}
.btm:hover, .btm-2:hover{
    background-color: rgb(171, 159, 135);
}
.card-head{
    text-align: center;
    height: 152px;
}
.card-head h1{
    font-size: 58px;
    font-weight: bold;
    color: #001931;
    line-height: 100%;
    margin-top: 40px;
}
.card-head p{
    color: #627382;
    margin-top: 16px;
}
.card-content{
    width: 322px;
    height: 300px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-content{
    box-shadow: 0 4px 12px rgba(160, 159, 159, 0.205);
}
.imgs{
    background-color: #f95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgs img{
    width: 32px;
    height: 32px;
}
.card-content h2{
    font-size: 24px;
    font-weight: semi bold ;
    text-align: center;
}
.card-content p{
    color: #627382;
    margin-top: 16px;
    text-align: center;
}
.card-contenar{
    margin-top: 44px;
    display: flex;
    max-width: 1360px;
    gap: 24px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.card-contenar :hover{
    background-color: rgb(171, 159, 135);
}
.idea-content{
    margin-top: 120px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 60px;
}
.idea-p{
    width: 700px;
    height: 500px;
    
}
.idea{
    width: 600px;
    height: 600px;
    border-radius: 12px;

}

.p h4{
    margin-top: 120px;
    color: #30B868;
    font-size: 16px;
    font-weight: medium;
    width: 500;
}
.p h1{
    font-size: 58px;
    line-height: 100%;
    font-weight: bold;
    color: #001931;
    margin-top: 16px;
    font-weight: 700;
}
.div p{
    width: 700px;
    height: 60px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.icon-list{
    display: flex;
    align-items: center;
    
}


.icon-list-content {
    width: 700px;
    height: 128px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}

.icon-list h4{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;

}
.icon-list h4 i{
    margin-right: 6px;
}

.ready{
    margin-top: 120px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F6F2;
    border-radius: 12px;
}
.ready-content{
    text-align: center;
    border: 1px solid #fafaf700;
    
    
    
}
.ready-1{
    max-width: 1280px;
    height: 112px;
}
.ready-2{
    max-width: 1280px;
    height: 88px;
    gap: 16px;
    margin-bottom: 80px;
}
.ready-content h1{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.ready-content p{
    color: #627382;
    margin-top: 16px;
    

}
.footer{
    margin-top: 120px;
    width: 100%;
    height: 348px;
    background-color: #05766a7c;
    border: 1px solid #05766b00;
    
    
}
.logo-img{
    max-width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon-link a img{
    width: 20px;
    height: 20px;
    
}
.icon-link a :hover{
    background-color: rgb(171, 159, 135);
}
.logo-img{
    
    margin: 120px auto;
    
}
.h5 {
    text-align: center;
    margin-bottom: 30px;
}





